\begin{center}
    {\LARGE\bfseries << identity.name | tex >>}\\[0.45em]
    {\small
    << identity.location_cv | tex >> \textperiodcentered{} << identity.phone | tex >>\\
    \href{mailto:<< identity.email >>}{<< identity.email | tex >>} \textperiodcentered\
    \href{mailto:<< identity.email_academic >>}{<< identity.email_academic | tex >>} \textperiodcentered\
    \href{<< identity.website_url >>}{<< identity.website | tex >>}\\
    \href{<< identity.github >>}{<< identity.github_short | tex >>} \textperiodcentered\
    \href{<< identity.linkedin >>}{<< identity.linkedin_short | tex >>}
    }
\end{center}
\vspace{0.4em}
